body {
	background-color: #eee;
	font-family: monospace;
}
.topic {
	padding: 10px;
	box-shadow: -5px 5px 5px #aaa;
	width: 300px;
	margin-top: 10px;
	background-color: #fff;
	border-radius: 3px;
}
.topic .remove {
	float: right;
	margin-right: 5px;
	cursor: pointer;
}
.topic-name {
	font-weight: bold;
	margin-bottom: 5px;
}
.topic .timestamp {
	margin-top: 5px;
	color: #999;
	font-size: 10px;
}
.topic-template {
	display: none;
}
.info-line {
	margin-bottom: 5px;
}
.info-line .label {
	width: 100px;
}
.info-line .label,
.info-line .input {
	display: inline-block;
}
.info-line .input input {
	width: 65px;
}
.box {
	display: inline-block;
}
.info-line.submit {
	margin-top: 15px;
	text-align: center;
}
